# Shared
DB_PASSWORD=post

# pgAdmin web UI
PGADMIN_EMAIL=admin@modoria.com
PGADMIN_PASSWORD=admin123

# Backend app
FRONTEND_URL=http://localhost:4200
JWT_SECRET_KEY=replace_with_long_random_secret
JWT_REFRESH_SECRET_KEY=replace_with_long_random_refresh_secret
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
