spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:modoriadb;DB_CLOSE_DELAY=-1
    username: DB_USER
    password: DB_PASSWORD

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: false

  jpa:
    hibernate:
      ddl-auto: none
      show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.xml
    enabled: true

  data:
    redis:
      host: localhost
      port: 6379
      timeout: 6000ms

  ai:
    vertex:
      ai:
        gemini:
          api-key: ${GEMINI_API_KEY}
          project-id: ${VERTEX_PROJECT_ID:}
          location: ${VERTEX_LOCATION}
          model: gemini-2.5-flash

ai:
  enabled: true
  provider: gemini